.menu {
  li {
    a{
      text-align: center;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}

.nav {
  font-weight: bold;
}

.small-nav {
  background-color: $white;
  color: $primary-color;
  padding: 0px;
  margin: 0px;
}

.button-container {
  text-align:center;
}

.top-bar{
  padding: 0px;
  background-color: $white;

  ul{
      background-color: $white;
  }
}

.menu-icon::after {
  background: $primary-color;
  box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
}

.top-bar-left {
  @include xy-cell(7);
  margin-left:0px;

  @include breakpoint(medium) {
    width: 15em;
  }
}

.menu-icon-container {
  margin-left: auto;
}

.goldfarb-logo-small {
  width:15em;
  padding:1em !important;
  margin:0em !important;
}

.goldfarb-logo {
  display:none;
  padding:1em !important;
  margin:0em !important;

  @include breakpoint(medium) {
    width:15em;
    display:block;
  }

  @include breakpoint(xmedium) {
    @include xy-cell(7);
    display:block;
  }

  @include breakpoint(xlarge) {
    width:24em;
    display:block;
  }
}




/*
.page {
  @include xy-grid-container;
  @include xy-grid(vertical, false);
}

.header {
  @include xy-cell(4, $gutter-position: top bottom, $vertical: true);
  background-color: $light-gray;


}

.content {
  @include xy-cell(7, $gutter-position: top bottom, $vertical: true);
}

.footer {
  @include xy-cell(3, $gutter-position: top bottom, $vertical: true);
}
*/

