.menu {
  li {
    a{
      &:hover {
        background-color: $primary-color;
        color: $white;
      }

      width: 100%;
      text-align: center;
    }
  }
}

.nav {
  font-weight: bold;

  @include breakpoint(medium) {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: -1;
  }
}

.small-nav {
  background-color: $primary-color;
}

.button-container {
  text-align:center;
}

.top-bar{
  background-color: $white;

  ul{
      background-color: $white;
  }
}

.menu-icon-container {
  float: left;
  margin: 0 auto;
}

.logos {
  @include xy-grid();

  .washu-logo {
    @include xy-cell(0);

    @include breakpoint(medium) {
      @include xy-cell(2);
    }

    @include breakpoint(large) {
      width:9em;
    }
  }
  .goldfarb-logo {

    @include xy-cell(4);
    padding:0px !important;
    margin:0px !important;

    @include breakpoint(medium) {
      @include xy-cell(4);
    }

    @include breakpoint(xlarge) {
      width:23em;
    }
  }
}

/*
.page {
  @include xy-grid-container;
  @include xy-grid(vertical, false);
}

.header {
  @include xy-cell(4, $gutter-position: top bottom, $vertical: true);
  background-color: $light-gray;


}

.content {
  @include xy-cell(7, $gutter-position: top bottom, $vertical: true);
}

.footer {
  @include xy-cell(3, $gutter-position: top bottom, $vertical: true);
}
*/

